In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
#READING FILE FROM CSV
auto_data = pd.read_csv('./Resources/adverts.csv')

In [3]:
# MAKING A COPY OF THE FILE AND ADDING AND TAKIN ONLY A SAMPLE OF IT
auto_dat_copy = auto_data.copy().sample(n=5000, ignore_index=True)
auto_dat_copy.shape

(5000, 12)

In [4]:
auto_dat_copy.isnull().sum()

public_reference           0
mileage                    3
reg_code                 400
standard_colour           70
standard_make              0
standard_model             0
vehicle_condition          0
year_of_registration     415
price                      0
body_type                 10
crossover_car_and_van      0
fuel_type                  6
dtype: int64

In [5]:
auto_dat_copy.head(5)

,public_reference,mileage,reg_code,standard_colour,standard_make,standard_model,vehicle_condition,year_of_registration,price,body_type,crossover_car_and_van,fuel_type
0,202009304378430,23500.0,69,Silver,Toyota,Corolla,USED,2019.0,20795,Estate,False,Petrol Hybrid
1,202010285521869,14182.0,17,Black,Kia,Sportage,USED,2017.0,11995,SUV,False,Petrol
2,202009304414339,2378.0,19,White,Nissan,Micra,USED,2019.0,10800,Hatchback,False,Petrol
3,202009173851558,11759.0,68,Red,Dacia,Sandero Stepway,USED,2018.0,8750,Hatchback,False,Petrol
4,202010024512351,63000.0,62,Grey,Peugeot,RCZ,USED,2012.0,7840,Coupe,False,Petrol

In [6]:
f_col = auto_dat_copy.columns
for x in f_col:
    dc = auto_dat_copy[x]
    if auto_dat_copy[x].dtypes =='O':
        dc_m = dc.fillna(auto_dat_copy[x].mode().iloc[0])
    else:
        dc_m = dc.fillna(value = auto_dat_copy[x].mean())
    auto_dat_copy.update({x: dc_m})

In [7]:
auto_dat_copy.isnull().sum()

public_reference         0
mileage                  0
reg_code                 0
standard_colour          0
standard_make            0
standard_model           0
vehicle_condition        0
year_of_registration     0
price                    0
body_type                0
crossover_car_and_van    0
fuel_type                0
dtype: int64

In [19]:
auto_dat_copy.head(60)

,public_reference,mileage,reg_code,standard_colour,standard_make,standard_model,vehicle_condition,year_of_registration,price,body_type,crossover_car_and_van,fuel_type
0,202009304378430,23500.0,69,Silver,Toyota,Corolla,USED,2019.000000,20795,Estate,False,Petrol Hybrid
1,202010285521869,14182.0,17,Black,Kia,Sportage,USED,2017.000000,11995,SUV,False,Petrol
2,202009304414339,2378.0,19,White,Nissan,Micra,USED,2019.000000,10800,Hatchback,False,Petrol
3,202009173851558,11759.0,68,Red,Dacia,Sandero Stepway,USED,2018.000000,8750,Hatchback,False,Petrol
4,202010024512351,63000.0,62,Grey,Peugeot,RCZ,USED,2012.000000,7840,Coupe,False,Petrol
5,202010014437922,88844.0,10,Red,Subaru,Impreza,USED,2010.000000,4600,Hatchback,False,Diesel
6,202009183892850,35746.0,66,Blue,Volkswagen,Scirocco,USED,2016.000000,12471,Coupe,False,Petrol
7,202009183879675,17091.0,67,White,Citroen,C1,USED,2017.000000,6562,Hatchback,False,Petrol
8,202009224068849,20000.0,66,Grey,Audi,S3,USED,2016.000000,22990,Hatchback,False,Petrol
9,202010205215577,38000.0,65,Black,BMW,4 Series,USED,2015.000000,14995,Convertible,False,Diesel
10,202008032048868,105000.0,14,Brown,Vauxhall,Corsa,USED,2014.000000,3000,Hatchback,False,Diesel
11,202009103554851,33254.0,17,Blue,Mercedes-Benz,C Class,USED,2017.000000,17899,Saloon,False,Diesel
12,202010014456840,5473.0,19,Grey,MINI,Hatch,USED,2019.000000,15900,Hatchback,False,Petrol
13,202007241661793,71675.0,13,Black,Mercedes-Benz,E Class,USED,2013.000000,19995,Saloon,False,Petrol
14,202007151283087,25174.0,68,Bronze,Peugeot,3008,USED,2018.000000,19400,SUV,False,Petrol
15,202009163808706,0.0,17,White,Renault,Zoe,NEW,2014.996947,32090,Hatchback,False,Electric
16,202009193929864,20748.0,68,Grey,MINI,Countryman,USED,2018.000000,20500,SUV,False,Petrol Plug-in Hybrid
17,202008011961758,25000.0,17,Black,Audi,TTS,USED,2017.000000,25000,Coupe,False,Petrol
18,202001065853083,23595.0,07,Black,Ferrari,599,USED,2007.000000,89900,Coupe,False,Petrol
19,202009123656225,27000.0,15,Grey,Audi,A5,USED,2015.000000,16995,Coupe,False,Diesel
20,202010225318554,95346.0,11,Black,BMW,1 Series,USED,2011.000000,4950,Hatchback,False,Diesel
21,202010104843047,126000.0,16,Blue,Volkswagen,Golf,USED,2016.000000,7495,Hatchback,False,Diesel
22,202009254184126,101700.0,60,Black,BMW,1 Series,USED,2010.000000,4990,Coupe,False,Diesel
23,202010315635703,28391.0,17,Black,Mercedes-Benz,A Class,USED,2017.000000,16500,Hatchback,False,Diesel
24,202007030824681,59000.0,63,Maroon,SKODA,Superb,USED,2013.000000,6995,Hatchback,False,Diesel
25,202007091043781,11506.0,67,White,Honda,Civic,USED,2017.000000,12600,Hatchback,False,Petrol
26,202009133668409,1.0,17,White,Fiat,500,NEW,2014.996947,12700,Hatchback,False,Petrol
27,202010024499673,144000.0,61,Black,SEAT,Ibiza,USED,2012.000000,2490,Estate,False,Petrol
28,202010245392000,27677.0,67,Black,Volkswagen,Golf,USED,2017.000000,22995,Estate,False,Petrol
29,202008102308135,15000.0,17,Grey,Volkswagen,Scirocco,USED,2017.000000,15995,Coupe,False,Diesel
30,202008283054458,28000.0,67,Silver,Kia,Sportage,USED,2017.000000,14991,SUV,False,Diesel
31,202009173852794,14290.0,66,Blue,Land Rover,Range Rover Evoque,USED,2016.000000,33500,Convertible,False,Petrol
32,202009033250279,0.0,17,Black,Jeep,Wrangler,NEW,2014.996947,52405,SUV,False,Petrol
33,202006059822292,26065.0,65,Black,BMW,4 Series,USED,2015.000000,20495,Convertible,False,Diesel
34,202009163786875,10.0,70,Orange,Vauxhall,Corsa,USED,2020.000000,25000,Hatchback,False,Electric
35,202009043314987,10929.0,68,White,Kia,Picanto,USED,2018.000000,6190,Hatchback,False,Petrol
36,202009113614354,28000.0,64,Red,Porsche,Cayman,USED,2014.000000,31990,Coupe,False,Petrol
37,202008122394684,0.0,17,Red,Toyota,Yaris,NEW,2014.996947,23405,Hatchback,False,Petrol Hybrid
38,201911104210131,1850.0,19,Black,SKODA,Fabia,USED,2019.000000,9999,Hatchback,False,Petrol
39,202010054620455,110000.0,05,Silver,Mercedes-Benz,S Class,USED,2005.000000,1995,Saloon,False,Diesel
40,202010155042799,57901.0,64,Red,Land Rover,Range Rover Evoque,USED,2014.000000,18790,SUV,False,Diesel
41,202008132442583,43000.0,14,White,Suzuki,Swift,USED,2014.000000,4995,Hatchback,False,Petrol
42,202009113600495,1265.0,69,Grey,Volkswagen,Sharan,USED,2019.000000,25995,MPV,False,Diesel
43,202007010726131,3750.0,20,Black,BMW,5 Series,USED,2020.000000,31032,Saloon,False,Diesel Hybrid
44,202010134945651,60730.0,65,Silver,Mercedes-Benz,C Class,USED,2016.000000,16500,Estate,False,Petrol Plug-in Hybrid
45,202009173846627,7512.0,17,White,Lamborghini,Aventador,USED,2017.000000,214990,Coupe,False,Petrol
46,202009203974991,101083.0,56,Black,BMW,6 Series,USED,2006.000000,6490,Coupe,False,Petrol
47,201906229296058,4231.0,19,White,Toyota,AYGO,USED,2019.000000,8395,Hatchback,False,Petrol
48,202010215253622,128000.0,09,Grey,BMW,3 Series,USED,2009.000000,3389,Estate,False,Diesel
49,202006110018550,10000.0,07,Silver,Vauxhall,Corsa,USED,2007.000000,3500,Hatchback,False,Petrol
50,202001286660736,709.0,69,Silver,Nissan,Leaf,USED,2019.000000,25000,Hatchback,False,Electric
51,202009163825050,118491.0,07,Silver,Honda,CR-V,USED,2007.000000,2895,SUV,False,Diesel
52,202009103547401,54000.0,57,Silver,Mercedes-Benz,SLK,USED,2007.000000,5999,Convertible,False,Petrol
53,202009304409094,0.0,17,Purple,DS AUTOMOBILES,DS 3 CROSSBACK,NEW,2014.996947,25332,SUV,False,Petrol
54,202010305611042,34863.0,13,Black,Volkswagen,Scirocco,USED,2013.000000,16995,Coupe,False,Petrol
55,202010165077312,26000.0,63,Silver,Kia,Soul,USED,2013.000000,6490,SUV,False,Diesel
56,202008262954537,19957.0,67,Blue,Mazda,CX-3,USED,2017.000000,13995,SUV,False,Petrol
57,202007271756463,20200.0,15,Multicolour,Suzuki,Swift,USED,2015.000000,6280,Hatchback,False,Petrol
58,201910032903636,1074.0,69,Black,Honda,Jazz,USED,2019.000000,15490,Hatchback,False,Petrol
59,202010275508559,19291.0,17,Silver,Volvo,XC60,USED,2017.000000,19000,SUV,False,Diesel

In [9]:
data_numeric = auto_dat_copy[['mileage', 'vehicle_condition', 'year_of_registration', 'price']]
data_numeric.head(5)

   mileage vehicle_condition  year_of_registration  price
0  23500.0              USED                2019.0  20795
1  14182.0              USED                2017.0  11995
2   2378.0              USED                2019.0  10800
3  11759.0              USED                2018.0   8750
4  63000.0              USED                2012.0   7840

In [10]:
for column in data_numeric.columns:
    print(data_numeric[column].value_counts())

0.0        202
10.0       151
5.0         33
50000.0     28
30000.0     25
          ...
9386.0       1
44900.0      1
59389.0      1
36209.0      1
26827.0      1
Name: mileage, Length: 3261, dtype: int64
USED    4604
NEW      396
Name: vehicle_condition, dtype: int64
2017.000000    871
2016.000000    566
2019.000000    475
2018.000000    474
2014.996947    415
2015.000000    340
2020.000000    333
2014.000000    288
2013.000000    252
2011.000000    181
2012.000000    177
2010.000000    144
2009.000000    106
2007.000000     96
2008.000000     89
2006.000000     53
2005.000000     42
2004.000000     28
2003.000000     17
2002.000000     12
2001.000000     10
2000.000000      7
1992.000000      2
1962.000000      2
1998.000000      2
1990.000000      2
1997.000000      2
1999.000000      2
1989.000000      2
1980.000000      2
1972.000000      2
1973.000000      1
1987.000000      1
1959.000000      1
1994.000000      1
1996.000000      1
1988.000000      1
Name: year_of_registration, dtype: int64
9995     31
6495     29
11995    29
7995     29
7495     26
         ..
25205     1
52055     1
10154     1
8108      1
18078     1
Name: price, Length: 2216, dtype: int64

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
ohe = OneHotEncoder()

feature_transformed = ohe.fit_transform(data_numeric[["vehicle_condition"]]).toarray()
feature_labels = ohe.categories_[0]

In [13]:
feature_labels = np.array(feature_labels).ravel()

In [14]:
features_encoded = pd.DataFrame(feature_transformed, columns=feature_labels)
features_encoded.head(10)

   NEW  USED
0  0.0   1.0
1  0.0   1.0
2  0.0   1.0
3  0.0   1.0
4  0.0   1.0
5  0.0   1.0
6  0.0   1.0
7  0.0   1.0
8  0.0   1.0
9  0.0   1.0

In [15]:
data_numeric = pd.concat([data_numeric, features_encoded], axis=1)
data_numeric.tail(10)

      mileage vehicle_condition  year_of_registration  price  NEW  USED
4990      0.0               NEW           2014.996947  10879  1.0   0.0
4991  76039.0              USED           2010.000000   2918  0.0   1.0
4992  52000.0              USED           2015.000000  14000  0.0   1.0
4993  61307.0              USED           2012.000000   5995  0.0   1.0
4994    840.0              USED           2019.000000  20450  0.0   1.0
4995      0.0               NEW           2014.996947  18078  1.0   0.0
4996  24500.0              USED           2012.000000   4600  0.0   1.0
4997  26827.0              USED           2014.000000   8400  0.0   1.0
4998  13000.0              USED           2019.000000  16490  0.0   1.0
4999  22000.0              USED           2010.000000   5495  0.0   1.0

In [16]:
data_numeric

      mileage vehicle_condition  year_of_registration  price  NEW  USED
0     23500.0              USED           2019.000000  20795  0.0   1.0
1     14182.0              USED           2017.000000  11995  0.0   1.0
2      2378.0              USED           2019.000000  10800  0.0   1.0
3     11759.0              USED           2018.000000   8750  0.0   1.0
4     63000.0              USED           2012.000000   7840  0.0   1.0
...       ...               ...                   ...    ...  ...   ...
4995      0.0               NEW           2014.996947  18078  1.0   0.0
4996  24500.0              USED           2012.000000   4600  0.0   1.0
4997  26827.0              USED           2014.000000   8400  0.0   1.0
4998  13000.0              USED           2019.000000  16490  0.0   1.0
4999  22000.0              USED           2010.000000   5495  0.0   1.0

[5000 rows x 6 columns]

In [17]:
for column in data_numeric.columns:
    print(data_numeric[column].value_counts())

0.0        202
10.0       151
5.0         33
50000.0     28
30000.0     25
          ...
9386.0       1
44900.0      1
59389.0      1
36209.0      1
26827.0      1
Name: mileage, Length: 3261, dtype: int64
USED    4604
NEW      396
Name: vehicle_condition, dtype: int64
2017.000000    871
2016.000000    566
2019.000000    475
2018.000000    474
2014.996947    415
2015.000000    340
2020.000000    333
2014.000000    288
2013.000000    252
2011.000000    181
2012.000000    177
2010.000000    144
2009.000000    106
2007.000000     96
2008.000000     89
2006.000000     53
2005.000000     42
2004.000000     28
2003.000000     17
2002.000000     12
2001.000000     10
2000.000000      7
1992.000000      2
1962.000000      2
1998.000000      2
1990.000000      2
1997.000000      2
1999.000000      2
1989.000000      2
1980.000000      2
1972.000000      2
1973.000000      1
1987.000000      1
1959.000000      1
1994.000000      1
1996.000000      1
1988.000000      1
Name: year_of_registration, dtype: int64
9995     31
6495     29
11995    29
7995     29
7495     26
         ..
25205     1
52055     1
10154     1
8108      1
18078     1
Name: price, Length: 2216, dtype: int64
0.0    4604
1.0     396
Name: NEW, dtype: int64
1.0    4604
0.0     396
Name: USED, dtype: int64